# Virtual Environment
.venv/
venv/
*.venv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE and OS files
.DS_Store
.idea/
.vscode/
.code-review-graph/

# Build artifacts
build/
dist/
*.egg-info/

# Secrets
.env
.env.local
/data/debug/

# Logs
logs/
blog/
.ignore

# Docker
deployments/volumes/

# data
data/